<div class="row-fluid">
	<div class="span12 well">
		{#<button class="close">&times;</button>#}
		<h2>Getting Started</h2>
		<p>Wisebender is a <a href="https://github.com/symfony/symfony" target="_blank">Symfony</a>-based online source code editing infrastructure for creating <a href="https://github.com/ibr-alg/wiselib/wiki" target="_blank">Wiselib framework</a>-based applications. This is a fork of <a href="http://codebender.cc" target="_blank">codebender.cc</a>. The Wiselib framework can be difficult and time-consuming in installation. It supports many different platforms (including different WSN hardware platforms, Android, Linux, iOS, and Shawn simulator), and installation/configuration for each platform is (i) different, (ii) complicated, and (iii) time consuming. To avoid these problems and make the lives of developers easier, we present you 'Wisebender'. It aims at providing user with cloud infrastructure to write, import, compile, and share Wiselib-based source code on the fly.</p>
	</div>
</div>
