<div class="span12 well">
		{#<button class="close">&times;</button>#}
		<h3>Getting Started</h3>
		<p>Wisebender is a <a href="https://github.com/symfony/symfony" target="_blank">Symfony</a>-based online source code editing infrastructure for creating <a href="https://github.com/ibr-alg/wiselib/wiki" target="_blank">Wiselib framework</a>-based applications. This is a fork of <a href="http://codebender.cc" target="_blank">codebender.cc</a>. The Wiselib framework supports many different platforms (like different WSN hardware platforms, Android, Linux, iOS, Shawn simulator etc.), and installation/configuration for each platform is different, complicated, and time consuming. To avoid these problems and make the lives of developers easier, we present you 'Wisebender'. It aims at providing user with cloud infrastructure to write, import, compile, and share Wiselib-based source code on the fly.</p>
</div>

