<div class="row-fluid">
	<div class="span12 well">
		{#<button class="close">&times;</button>#}
		<h2>Getting Started</h2>
		<p>Hi there. Thanks for choosing Wisebender. Getting started section coming soon ...</p>
	</div>
</div>
