<input type="hidden" id="repoName" name="repoName" value="">
<div class="modal hide fade" id="commitModal" style="overflow:hidden;">
    <div class="modal-header">
        <button id="commitModalClose" class="close" data-dismiss="modal">×</button>
        <h3>Save to GitHub</h3>
    </div>
    <div class="modal-body" style="max-height:80%;">
        <p>Please input a commit message.</p>
        <h5>Project Name:</h5>
        <p id="name">{{ project_name }}</p>
        <p id="m_files">

          </p>
        <h5>Commit Message:</h5>
        <textarea id="commitMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button id="commitSubmitC" data-dismiss="modal" class="btn">Cancel</button>
        <button id="commitSubmit" data-loading-text="<i class='icon-spinner icon-spin'></i> Committing ... " class="btn btn-submit" value="Commit"><i class="icon-github icon-white"></i>&nbsp;&nbsp;Commit!</button>
    </div>
</div>
<div class="modal hide fade" id="commitValidateModal" style="overflow:hidden;">
    <div class="modal-header">
        <button id="commitModalClose" class="close" data-dismiss="modal">×</button>
        <h3>Confirmation.</h3>
    </div>
    <div class="modal-body" style="max-height:80%;">
        The following changes will be sent to GitHub repo.
        <p id="commitValidateBody"></p>
    </div>
    <div class="modal-footer">
        <button id="commitValidateSubmitC" data-dismiss="modal" class="btn">Cancel</button>
        <button id="commitValidateSubmit" data-loading-text="<i class='icon-spinner icon-spin'></i> Committing ... " class="btn btn-submit" value="Commit"><i class="icon-github icon-white"></i>&nbsp;&nbsp;Yes</button>
    </div>
</div>
<div class="modal hide fade" id="noChangeModal" style="overflow:hidden;">
    <div class="modal-header">
        <button id="noChangeModalClose" class="close" data-dismiss="modal">×</button>
        <h3>No change.</h3>
    </div>
    <div class="modal-body" style="max-height:80%;">
        There was no change detected. No change to be committed to GitHub.
        <p id="noChangeModalBody"></p>
    </div>
    <div class="modal-footer">
        <button id="noChangeModalC" data-dismiss="modal" class="btn">OK</button>
    </div>
</div>
