<div class="modal hide fade" id="deleteProjectGitModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&#215;</button>
        <h3>Are you sure you want to delete your project from GitHub?</h3>
    </div>
    <div class="modal-body">
        <p>This will no longer allow you to share/update this application code via GitHub. A copy of the code will, however, remain on Wisebender for your future use.</p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn" id="deleteProjectGitButtonC">Cancel</button>
        <a id="deleteProjectGitButton" href="" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete!</a>
        <!--<button id="deleteProjectGitButton" onClick="createWiselibFile()" data-loading-text="<i class='icon-spinner icon-spin'></i> Deleting ..." class="btn btn-submit btn-danger" ><i class="icon-trash icon-white"></i> Delete! </button>-->
    </div>
</div>