<div class="modal hide fade" id="deleteProjectGitModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&#215;</button>
        <h3>Are you sure you want to delete your project from GitHub?</h3>
    </div>
    <div class="modal-body">
        <p>This will no longer allow you to share/update this application code via GitHub. A copy of the code will, however, remain on Wisebender for your future use.</p>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Cancel</a>
        <a id="deleteProjectGitButton" href="" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete!</a>
    </div>
</div>