<div class="modal hide fade" id="WiselibFileCreationModal" data-fpath="" data-id="">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>New File</h3>
    </div>
    <div class="modal-body span5">
        <p>Enter the name of the new file you'd like to create. Only <strong>.cpp and .h</strong> are supported.</p>
        <input type="text" id="createWiselibFilefield"/>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Cancel</a>
        <button id="createWiselibFilebutton" class="btn btn-primary" onclick="createWiselibFile();">Create File</button>
    </div>
</div>