<div class="modal hide fade" id="WiselibFolderCreationModal" data-fpath="" data-id="">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>New Folder</h3>
    </div>
    <div class="modal-body span5">
        <p>Enter the name of the new folder you'd like to create.</p>
        <input type="text" id="createWiselibFolderfield"/>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Cancel</a>
        <button id="createWiselibFolderbutton" class="btn btn-primary" onclick="createWiselibFolder();">Create Folder</button>
    </div>
</div>
