<div class="modal hide fade" id="WiselibFolderCreationModal" data-fpath="" data-id="">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>New Folder</h3>
    </div>
    <div class="modal-body span5">
        <p>Enter the name of the new folder you'd like to create.</p>
        <input type="text" id="createWiselibFolderfield"/>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Cancel</a>
        <button id="createWiselibFolderbutton" class="btn btn-primary" onclick="createWiselibFolder();">Create Folder</button>
    </div>
</div>
<div class="modal hide fade" id="WiselibFolderDeletionModal" data-fpath="" data-id="">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&#215;</button>
        <h3>Delete folder?</h3>
    </div>
    <div class="modal-body">
        <p>This will delete <span id="delete_folder_name" style="font-weight: bold;"></span> folder and all files and sub-folders of this folder. Are you sure you want to delete this folder?
    </div>
    <div class="modal-footer">
        <button id="deleteFolderButtonC" data-dismiss="modal" class="btn">Cancel</button>
        <button id="deleteFolderButton" class="btn btn-danger" onClick="deleteWiselibFolder();" data-loading-text="<i class='icon-spinner icon-spin'></i> Deleting" class="btn btn-submit" ></i><i class="icon-trash icon-white"></i> Delete!</button>
    </div>
</div>